<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- """add a profile icon inside the navbar beside the login button"""-->
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<div class="topnav">
  <a class="active" href="#home">Home</a>

  <div class="topnav-right">
    <a class="active" href="#ProfileIcon"><i class="fas fa-user"></i></a>
    <ng-container *ngIf="!aservice.isAuthenticated; else loggedInTemplate">
      <a [routerLink]="['/login']" routerLinkActive="active" (click)="aservice.login()">Login</a>
    </ng-container>
    <ng-template #loggedInTemplate>
      <a (click)="logout()" href="#loggedout">Logout</a>
    </ng-template>
  </div>
</div>