<!-- <html>
    <body>
        <p>header works!</p>
<input type="text" [(ngModel)]="inputValue"/>
<p>{{inputValue}}</p>
    </body></html> -->
    <html>
        <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid" style="background-color: aquamarine;">
        <a class="navbar-brand" routerLink="./signup">Profile</a> 
        <p class="navbar-brand">Contact</p>
        <p class="navbar-brand" (click)="toggleLogin()">{{ isLoggedIn ? 'Logout' : 'Login' }}</p>
        <input class="navbar-brand" type="text" [(ngModel)]="inputValue"/>
<p>{{inputValue}}</p>
</div>
      </nav>
    </body></html>