.container {
  display: flex;
  max-width: 1900px;
  padding: 0%;
  height: 700px;
}

.sidebar {
  flex: 0.5;
  background-color: #333;
  color: white;
  padding: 10px;
  width: 20%;
}

.sidebar button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.content {
  flex: 4;
  padding: 10px;
}

.table-container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.add-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sidebar button,
.add-button-container button,
.table-container button {
  margin-right: 5px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filter {
  flex: 1;
  margin-right: 10px;
}